[Desktop Entry]
Name=Gdpy3
Comment=Convert and plot data
Exec=gdpy3-gui %F
Terminal=false
Type=Application
Icon=gdpy3
StartupNotify=true
Categories=Education;Utility;
