<style type="text/css">
.scroll-bar {
    width:36px;
    float:right;
    position:fixed;
    right:12px;
    bottom:36px;
    z-index:9999;
}
.scroll-bar li {
    list-style: none;
}
.scroll-bar li a {
    background:#fff;
    font-size:18px;
    color:#a1a1a1;
    width:32px;
    height:32px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    margin-top:4px;
    display:block;
    cursor:pointer;
    background:rgba(255,255,255,.6);
    border:1px solid #d8d8d8;
    border-radius:5px;
    box-shadow:0 1px 1px rgba(0,0,0,.04);
}
.scroll-bar li a:hover {
    background:#337ab7;
    color:#fff;
    border:1px solid #337ab7;
    transition:all .2s ease-in 0s;
}
</style>
